<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4> <a href="#/3x4">Play 3x4</a></h4>
  <p>Test your memory with 12 tiles.</p>

  <h4> <a href="#/4x4">Play 4x4</a></h4>
  <p>Test your memory with 16 tiles.</p>

  <h4> <a href="#/3x5">Play 4x5</a></h4>
  <p>Test your memory with 20 tiles</p>

  <h4> <a href="#/5x6">Play 5x6</a></h4>
  <p>Test your memory with 30 tiles</p>

  <h4> <a href="#/6x6">Play 6x6</a></h4>
  <p>Test your memory with 36 tiles</p>
</div>
