<div class="square">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				<img src="app/images/3x3/angularjs.png"></img>
			</div>
		</div>
	</div>
</div>
<div class="square">
	<div class="content">
		<div class="table">
			<div class="table-cell numbers">
					98%
			</div>
		</div>
	</div>
</div>
<div class="square">
	<div class="content">
		<div class="table">
			<div class="table-cell numbers">
				3.9/5
			</div>
		</div>
	</div>
</div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square">
   <div class="content">
		<div class="table">
			<div class="table-cell">
				<img class="rs" src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg"/>
				Responsive image.
			</div>
		</div>
	</div>
</div>
<div class="square">
	<div class="content">
		<div class="table">
			<div class="table-cell">
			   <img class="rs" src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg"/>
				Responsive image.
			</div>
		</div>
	</div>
</div>
<div class="square">
   <div class="content">
		<div class="table">
			<div class="table-cell">
				<img class="rs" src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg"/>
				Responsive image.
			</div>
		</div>
	</div>
</div>

<!-- 3rd row responsive images in background with centered content -->

<div class="square bg img1">
   <div class="content">
		<div class="table">
			<div class="table-cell">
				Centered responsive images as background with centered content over it.
			</div>
		</div>
	</div>
</div>
<div class="square bg img2">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				Again
			</div>
		</div>
	</div>
</div>
<div class="square bg img3">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				And again
			</div>
		</div>
	</div>
</div>
<!-- END OF LAYOUT, following juts for the demo -->
